
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.default-page {
  max-width: 1400px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.calllogs-page{
  max-width: 1400px;
  margin: auto auto 100px;
}
.react-grid-HeaderRow {
  overflow-x: inherit;
}

.react-grid-Canvas{
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.react-grid-Cell{
  border-bottom: none !important;
}

.react-grid-HeaderRow{
  overflow-x: inherit !important;
}

main > .container {
  padding: 60px 15px 0;
}